.container {
    display: flex;
    background-color: #FFF5EA;
    
}


.root {
    width : 40%;
    height : 60vh;
    padding : 100px 35px 35px 70px;
}

.image {
    width : 300px;
    height : 550px;
    margin : 50px 191px 50px 300px;
}

.phoneImg {
    height : 500px;
    margin : 20px 10px 10px 20px;
}
