@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.footerr {
  margin-top: 50px;
  position: relative;
  max-height: fit-content;
  max-width: 100%;
}
.container {
  position: relative;
  width: 100%;
  max-height: fit-content;
}
.row {
  justify-content: space-around;
  display: flex;
  margin-left: 20%;
  margin-top: -3%;
  flex-wrap: wrap;
}
.ul {
  list-style: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #24262b;
  padding: 50px 0;
}
.footercol {
  display: flex;
  justify-content: space-between;
}
.footercol h4 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.listitems {
  list-style: none;
  margin-right: 5%;
  padding-top: 5%;
}

.footercol ul li a {
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.pname {
  color: white;
  position: relative;
  margin-left: 3rem;
}
