

.main_container{
  margin: 0rem;
}
.split{
 display: flex;
 justify-content:center;
}
.tab_container{
 padding: 2vmin;
 width: 100%;
}
.img_container{
 position: relative;
 background-image: cover;
 padding: 2vmin;
 width: 100%;
 max-height: 120vh;
}
.personalised_heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.personalised_img{
 width: 100%;
 height: 100%;
 border: .6rem solid rgb(227, 230, 230);
}

.personalised_heading h1{
 font-size: 2.1rem;   
 font-weight: 300;
   font-family: 'Roboto', sans-serif;
}

@media(max-width: 700px){
 .split{
   flex-direction: column;
}
.personalised_img{
 height: 80vh;
}
.img_container{
 background-image: cover;
 padding: 0;
 width: 96%;
}
}
@media(min-width: 1080px){
 .personalised_heading h1{
   font-size: 3.3rem;   
  }
  .img_container{
   background-image: cover;
 
 }

}
@media(max-width: 480px){
 .personalised_heading{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   
}
.personalised_heading h1{
 font-size: 2.1rem;   
}
.personalised_img{
 
 height: 60vh;
}
.img_container{
 background-image: cover;

}
}

.list{

    width: 100%;
    margin: 1rem;
    margin-left: 0;
    border: .01rem solid black;
    display: flex;
    border-radius: .4rem;
    }
    .list:hover{
      transform: scale(1.01);
    }

.item_img{
   height: 100%;
   width: 100%;   
   border-radius: .4rem;
} 
.product_img{
  
   width: 20%;
   background-image: cover;
 }
.product_details{ 
  font-family: 'Roboto', sans-serif;
    width: 65%;
    margin-left: 1.5rem;
  }
  .product_details h3{
    margin: .5rem 0 0 0;  
  }
  .product_details p{
    margin: .3rem 0.7rem 0.3rem 0rem;  
  }

  .product_star{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;  

  }
  .product_star p{
    font-size: .7rem;
  }




 /* ---Tab.js css--- */
.tab{
   display: flex; 
 }
.tab_container {

      display: block;
      margin-right: 1.5rem;
    }
@media(min-width: 700px){
  .tab_container {
    display: block;
    margin-right: .5rem;
  }
}

.bloc_tabs{
 display: flex;
   justify-content: space-between;
 }
.tabs {

    text-align: center;
    flex: 1;
    height: 5rem;
    width: 5rem;
    margin:.5rem;
    cursor: pointer;
    outline: none;
    border: .05rem solid #333232;
    font-family: 'Roboto', sans-serif;
  }

   
.active_tabs  {
   flex: 1;
   height: 5rem;
   width: 5rem;
   margin:.5rem;
   text-align: center;
   cursor: pointer;
   position: relative;
   outline: none;
   background: #ffffff ;
   border: .05rem solid rgb(0, 0, 0)2;
 }

 @media(max-width: 700px){
   .tabs {

    text-align: center;
    flex: 1;
    height: 3rem;
    width: 3.5rem;
    margin:.5rem;
    cursor: pointer;
    outline: none;
   
    font-family: 'Roboto', sans-serif;
  }

   
.active_tabs  {
   flex: 1;
   height: 3rem;
   width: 3.5rem;
   margin:.5rem;
   text-align: center;
   cursor: pointer;
   position: relative;
   outline: none;
   background: #ffffff ;
  
 }
 .tab_container{
   margin: 0;
   padding: 0;
 }
 }


.content_tab{
   width: 100%;
 
 }
.content {
   display: none;
 }
.active-content {
   display: block;
 }
 
.headtab{
  display: flex;
}

.dots {
 position: absolute;
 background-color:white;
 border-radius:50%;
 width:10px;
 height:10px;
 transition: width ease 0.5s, height ease 0.5s, box-shadow;
 box-shadow: 0rem 0rem 0.5rem .1rem seashell;
 cursor: pointer;
}

.img_container:hover > .dots{
 height:20px;
 width: 20px;
}
.dots:hover{
 box-shadow: 0rem 0rem 0.5rem .2rem teal;
}


