
.main_container{
   margin: 0rem;
}
.split{
  display: flex;
  justify-content:center;
}
.tab_container{
  padding: 2vmin;
  width: 100%;
}
.img_container{
  background-image: cover;
  padding: 2vmin;
  width: 100%;
}
.personalised_heading{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
}
.personalised_img{
  width: 100%;
  height:100vh;
  border: .6rem solid rgb(227, 230, 230);
}

.personalised_heading h1{
  font-size: 2.1rem;   
  font-weight: normal;
 }

@media(max-width: 700px){
  .split{
    flex-direction: column;
}
}
@media(min-width: 1080px){
  .personalised_heading h1{
    font-size: 3.3rem;   
   }
}
@media(min-width: 480px){
  .personalised_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
 }
 .personalised_heading h1{
  font-size: 2.1rem;   
 }
 .personalised_img{
  height: 60vh;}
}

.list{
    width: 100%;
    margin: 1rem;
    margin-left: 0;
    border: .1rem solid black;
    display: flex;
    
    }
.item_img{
    height: 100%;
    width: 100%;   
} 
.product_img{
   
    width: 20%;
    background-image: cover;
  }
.product_details{ 
    width: 80%;
  }


  /* ---Tab.js css--- */
.tab{
    display: flex; 
  }
.tab_container {
      display: block;

    }
.bloc_tab{
    margin-left: 3rem;  
  }
.tabs {
    text-align: center;
    flex: .4;
    height: 2rem;
    margin:.1rem;
    background:#ffc3c3 ;
    cursor: pointer;
    outline: none;
    border-radius: .5rem;
    border: .1rem solid #ffa2a2;
  }
.active_tabs  {
    flex: .4;
    height: 2rem;
    border-radius: .5rem;
    margin:.1rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    outline: none;
    background: #ffa2a2 ;
    border: .1rem solid #ffa2a2;
  }
.content_tab{
    width: 100%;
  
  }
.content {
    display: none;
  }
.active-content {
    display: block;
  }




.tableDots {
  position: absolute;
  background-color:#ffffff;
  border-radius:50%;
  width:.5rem;
  height:.5rem;
  transform: translate(170px, 280px);
  pointer-events: none;
  box-shadow: 0rem 0rem 0.5rem .2rem #ffffff;
}


.chairDots {
  position: absolute;
  background-color:#a1e4e8;
  background-color:#ffffff;
  border-radius:50%;
  width:.5rem;
  height:.5rem;
  transform: translate(290px, 310px);
  pointer-events: none;
  box-shadow: 0rem 0rem 0.5rem .2rem #3af8ff;
  box-shadow: 0rem 0rem 0.5rem .2rem #ffffff;
}

.floorDots{
  position: absolute;
  background-color:#a1e4e8;
  background-color:#ffffff;
  border-radius:50%;
  width:.5rem;
  height:.5rem;
  transform: translate(200px, 380px);
  pointer-events: none;
  box-shadow: 0rem 0rem 0.5rem .2rem #3af8ff;
  box-shadow: 0rem 0rem 0.5rem .2rem #ffffff;
}

.tvDots {
  position: absolute;
  background-color:#a1e4e8;
  background-color:#ffffff;
  border-radius:50%;
  width:.5rem;
  height:.5rem;
  transform: translate(20px, 380px);
  pointer-events: none;
  box-shadow: 0rem 0rem 0.5rem .2rem #3af8ff;
  box-shadow: 0rem 0rem 0.5rem .2rem #ffffff;
}