/* .personheading {
  position: absolute;
  top: 2590px;
  left: 500px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.personalization {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 1304px;
  height: 1050px;
  top: 2700px;
  margin-left: 10px;

  text-align: center;
}

.box {
  width: 189px;
  height: 179px;
  border: 1px solid;
}

.floor {
  position: absolute;
  top: 200px;
  left: 20px;
}

.floordesign {
  width: 610px;
  height: 503px;
  position: absolute;
  top: 300px;
  left: 15px;
}

.design {
  margin-top: 10px;
  width: 580px;
  height: 165px;
  border: 1px solid;
  text-align: justify;
} */
