@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.heading {
  position: relative;
  text-align: center;
  width: 70vw;
  height: fit-content;
  margin: 5% auto;
  text-align: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 56px;
  line-height: 111.9%;
  font-weight: normal;
}

.cardss img {
  width: 100%;
  height: 25vh;
  border-radius: 15px 15px 0 0;
}

.container {
  position: relative;
  width: 100%;
  height: fit-content;
  display: inline-block;
}
.cardss {
  width: fit-content;
  display: inline-block;
  align-items: center;
  padding-top: 2%;
  justify-content: space-evenly;
  max-width: 100vw;
  margin: 2%;
  z-index: 1;
}

.card {
  position: relative;
  width: 20rem;
  margin-top: 2%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fffbfb;
  margin-left: 30%;
}

.cardp {
  margin-left: 1rem;
  text-align: justify;
  margin-right: 1rem;
  font-family: Poppins;
  font-size: 12px;
}
.bheading {
  margin-left: 2rem;
}

@media (max-width: 583px) {
  .card {
    width: 90%;
  }
  .heading {
    font-size: 50px;
  }
}

@media (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media (max-width: 360px) {
  .card {
    background: #fffaed;
    width: 80%;
    margin-left: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .cardss {
    width: fit-content;
    display: flex;
    justify-content: space-between;
  }
  .heading {
    font-size: 32px;
  }
}

@media (max-width: 850px) {
  .heading h1 {
    font-size: 30px;
    margin-top: -3%;
    margin-bottom: 10px;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.container h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  margin-left: 1rem;
}

.container a {
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: #0085ff;
  margin-left: 1rem;
  padding-bottom: 10%;
}
