.heading h1 {
  position: relative;
  text-align: center;
  width: 50vw;
  height: fit-content;
  /* width: 50%; */
  margin: 5rem auto;
  text-align: center;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 111.9%;
  text-align: center;
}

.cardss {
  padding: 5px auto;
  flex-wrap: wrap;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin-top: 15px;
  background: #fffaed;
  position: relative;
  width: 314px;
  height: 318px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  justify-content: center;
}

.card2 {
  margin-top: 15px;
  background: #fffaed;
  position: relative;
  width: 314px;
  height: 318px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card3 {
  margin-top: 15px;
  background: #fffaed;
  position: relative;
  width: 314px;
  height: 318px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.container h4 {
  position: absolute;
  width: 164px;
  height: 26px;
  left: 20px;
  top: 40px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.cardp {
  position: relative;
  width: 275px;
  height: 85px;
  left: 20px;
  top: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}

.container a {
  position: relative;
  display: flex;
  top: 150px;
  left: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

@media all and(max-width:360px) {
  .card {
    background: #fffaed;
    position: relative;
    width: 150px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    justify-content: center;
  }
  .cardss {
    width: fit-content;
    display: flex;
    justify-content: space-between;
  }
}
