.btn-primary {
  color: #fff;
  background-color: black;
  border-color: white;
  margin-right: 5px;
}

.navbar nav {
  margin: 10% auto;
}

.btn {
  background: #ffd569;
  border-radius: 5px;
  margin-right: 5rem;
  border: none;
  font-size: 18px;
}

.btn1 {
  color: black;
  background: white;
  border-radius: 15px;
  outline: none;
  border-radius: none;
  border: none;
  font-size: 18px;
  margin-right: 15px;
}

/* .navbar {
  display: flex;
  width: 100vw;
}

.hero {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.navlogo {
  margin-top: -2.7%;
}
.navlinks {
  flex: 1;
  text-align: right;
}

.navlinks ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navlinks ul li {
  font-size: 15px;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.navlinks ul a {
  display: block;
  text-decoration: none;
  height: 17px;
  color: #2e2e2e;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
}

.navlinks ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navlinks ul li:hover::after {
  width: 100%;
}

.btn {
  padding: 10px 20px;
  border: 0;
  background: yellow;
  font-weight: bold;
  cursor: pointer;
}

.navlinks .btn {
  float: right;
}

.signin {
  position: relative;
  float: right;
  width: 77px;
  height: 35px;
  background-color: transparent;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.signup {
  position: relative;
  float: right;
  width: 77px;
  height: 35px;
  border-radius: 0.5rem;
  border: none;
  background-color: #ffeba3;
  cursor: pointer;
} */

/* Navbar ends */
.background {
  width: 90vw;
  height: 100vh;
  margin-left: 5%;
  background: url("/images/Rectangle137.png") no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 17px;
  background-size: 100% auto;
}

.divtext {
  width: 50vw;
  height: 20vh;
  margin-left: 8%;
  padding-top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: calc(14px+10vw);
  line-height: 91.9%;
  color: #202020;
}

.divptext {
  position: relative;
  width: 50vw;
  height: 20vh;
  left: 8%;
  top: 2%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  /* font-size: 16px; */
  line-height: 24px;
}

.searchbar {
  position: static;
  left: 8%;
  top: 2%;
  width: 339px;
  height: 50px;
  border: none;
  background-color: white;
  border-radius: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 24px;
  padding-top: 0px;
  margin-top: 8px;
  margin-left: 8%;
}

.searchbtn {
  color: black;
  padding-left: 10px;
  padding-top: 15%;
  margin-top: 20px;
  width: 115px;
  height: 35px;
  display: flex;
  background-color: #202020;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.searchtext {
  border: none;
  background: white;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 50px;
}

@media screen and (max-width: 882px) {
  .background {
    width: 90vw;
    height: 100vh;
    margin-left: 5%;

    background: url("/images/Rectangle137.png") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 17px;
    background-size: 100% auto;
  }
  .divtext {
    width: 40vw;
    height: 20vh;
    margin-left: 8%;
    padding-top: 10%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: calc(14px+10vw);
    line-height: 91.9%;
    color: #202020;
  }
  .divptext {
    position: relative;
    width: 50vw;
    height: 20vh;
    left: 8%;
    top: 5%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    /* font-size: 16px; */
    line-height: 24px;
  }
  .searchbar {
    /* left: 8%;
    top: 2%;
    width: px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    padding-top: 0px;
    margin-top: 8px;
    margin-left: 8%; */
    margin-top: 8%;
  }

  .searchbtn {
    color: black;
    padding-left: 10px;
    padding-top: 15%;
    margin-top: 20%;
    width: 115px;
    height: 35px;
    display: flex;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}
