.body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 40px 80px;
}

.hero {
  display: flex;
  align-items: center;
  margin-top: 0px;
}
.navlogo {
  margin-top: -25px;
}
.navlinks {
  flex: 1;
  width: 100%;
}

.navlinks ul {
  margin-left: 5rem;
  display: inline;
}

.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}

.navlinks ul a {
  height: 17px;
  color: #2e2e2e;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
}

.navlinks ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navlinks ul li:hover::after {
  width: 100%;
}

.btn {
  padding: 10px 20px;
  border: 0;
  background: yellow;
  font-weight: bold;
  cursor: pointer;
}

.navlinks .btn {
  float: right;
}

.signin {
  position: relative;
  float: right;
  width: 77px;
  height: 35px;
  background-color: transparent;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.signup {
  position: relative;
  float: right;
  width: 77px;
  height: 35px;
  border-radius: 0.5rem;
  border: none;
  background-color: #ffeba3;
  cursor: pointer;
}
.background {
  margin-top: -200px;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/images/Rectangle137.png") no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 17px;
}

.divtext {
  margin: 192px 591px 446px 127px;
  padding-top: 7rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 91.9%;
  color: #202020;
}

.divptext {
  position: absolute;
  width: 539px;
  height: 96px;
  left: 132px;
  top: 300px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.searchbar {
  position: absolute;
  width: 339px;
  height: 50px;

  left: 135px;
  top: 420px;
  border: none;
  background-color: white;
  border-radius: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 24px;
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 8px;
}

.searchbtn {
  color: black;
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 8px;
  width: 115px;
  height: 35px;
  display: flex;
  background-color: #202020;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.searchtext {
  border: none;
  background: white;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 50px;
}

@media all and (max-width: 900px) {
  .signin {
    position: relative;
    float: right;
    margin: auto;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }
  .signup {
    position: relative;
    float: right;
    margin-left: 10px;
    width: 77px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #ffeba3;
    cursor: pointer;
  }

  .navlinks {
    padding-left: 0px;
    margin-left: -290px;
    flex: 1;
    width: 1030px;
  }
}

@media all and (max-width: 1270px) {
  .signin {
    float: right;
    position: relative;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }
  .signup {
    float: right;
    position: relative;
    margin-left: 5px;
    width: 77px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #ffeba3;
    cursor: pointer;
  }
  .navlinks {
    position: relative;
    margin-left: 4px;
    display: inline;
  }
}

@media all and (max-width: 360px) {
  .navbar {
    width: 100%;
    position: relative;
  }
  .navlogo {
    margin-top: -1rem;
    margin-left: -3rem;
  }
  .navlinks {
    flex: 1;
    width: 100%;
  }
  .navlinks ul {
    display: inline;
  }

  .navlinks ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
  }
  .signin {
    float: right;
    position: relative;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }
  .signup {
    float: right;
    position: relative;
    margin-left: 5px;
    width: 77px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #ffeba3;
    cursor: pointer;
  }
  .navlinks {
    width: 100%;
    position: relative;
    display: inline;
    text-align: center;
  }
  .navlinks ul a {
    height: 10px;
    color: #2e2e2e;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 8px;
  }

  .background {
    margin-top: -200px;
    position: relative;
    width: 110vh;
    height: 100vh;
    background: url("/images/Rectangle137.png") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 17px;
  }

  .divtext {
    margin: 192px 591px 446px 127px;
    padding-top: 7rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 91.9%;
    color: #202020;
  }
}
