.maindiv {
  position: relative;
  max-width: 90vw;
  max-height: max-content;
  background: #fffaed;
  margin: 5rem auto;
  border-radius: 15px;
}

.itemsdiv {
  margin-left: 10%;
  padding-top: 2%;
  justify-content: space-between;
  max-width: 40vw;
  max-height: fit-content;
  justify-content: center;
}
.third {
  border-radius: 15px;
  background-color: #fff2f2;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 40vw;
  display: flex;
}
.first {
  position: relative;
  width: 22em;
  height: 20rem;
  background: url("/images/Rectangle151.png") no-repeat;
  background-position: center;
  border-radius: 10px;
}

.second {
  position: relative;
  width: 22em;
  height: 20rem;
  background: url("/images/Rectangle151.png") no-repeat;
  background-position: center;
  border-radius: 10px;
}

.awesome2 {
  margin-left: 2em;
}

.awesome {
  margin-top: 5%;
  margin-left: 30px;
  font-size: 15px;
  padding-top: 5%;
}

.awesome1 {
  margin-left: 30px;
  margin-top: 5%;
}
.letsgo {
  color: white;
  font-size: 25px;
  background-color: black;
  border: none;
  border-radius: 10px;
  margin: auto;
  display: block;
}
.awesomebtn {
  position: relative;
  margin-left: 2rem;
  background: #161616;
  border: none;
  outline: none;
  width: 101px;
  height: 33px;
  color: white;
  cursor: pointer;
}

.awesomebtn1 {
  position: relative;
  background: #161616;
  border: none;
  outline: none;
  width: 101px;
  height: 33px;
  color: white;
  cursor: pointer;
  /* margin-top: 10rem; */
  margin-left: -13rem;
}

/* @media all and (max-width: 900px) {
  .first {
    position: relative;
    width: 283px;
    height: 113px;
    background: url("/images/Rectangle151.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .second {
    position: relative;
    width: 283px;
    height: 113px;
    background: url("/images/Rectangle151.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
} */
