@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.maindiv {
  background: #fffaed;
  max-width: 95vw;
  max-height: max-content;
  margin: 2rem;
  border-radius: 15px;
}
.container {
  width: 100%;
  height: fit-content;
  background-color: #fffaed;
}

.itemsdiv {
  display: inline-block;
  align-items: center;
  padding-top: 2%;
  justify-content: space-evenly;
  max-width: 95vw;
  margin: 2%;
}

.first {
  position: relative;
  width: 22em;
  margin-top: 2%;
  height: 20rem;
  background: url("/images/Rectangle151.png") no-repeat;
  background-position: center;
  background-size: 100% auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff2f2;
  margin-left: 10%;
}

.second {
  position: relative;
  margin-top: 2%;
  width: 22em;
  height: 20rem;
  background: url("/images/Rectangle151.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff2f2;
}

.awesome1 {
  margin-left: 30px;
  font-size: 15px;

  font-family: "Poppins";
  color: #00b432;
}
.awesome {
  padding-top: 15%;
  margin-top: 15%;
  padding-top: 15%;
  margin-left: 30px;
  font-size: 15px;
  font-family: "Poppins";
}

.letsgo {
  color: white;
  width: 8rem;
  height: 5%;
  font-size: 25px;
  background-color: black;
  border: none;
  border-radius: 10px;
  margin: 5% auto;
  display: block;
  cursor: pointer;
  font-family: "Poppins";
}
.awesomebtn {
  position: relative;
  margin-top: 10%;
  margin-left: 30px;
  background: #161616;
  border: none;
  outline: none;
  width: 101px;
  height: 33px;
  color: white;
  cursor: pointer;
  font-family: "Poppins";
}
