.maindiv {
  display: inline-flex;
  position: relative;
  margin: 5rem auto;
  width: 90vw;
  height: 120vh;
  background-color: #fffaed;
  flex-wrap: wrap;
  align-content: space-between;
}

.itemsdiv {
  width: 50%;
  margin-top: 5rem;
  margin-left: 4rem;
  flex-wrap: wrap;
}

.first {
  position: relative;
  flex-wrap: wrap;
  width: 486px;
  height: 325.57px;
  background: url("/images/Rectangle151.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.second {
  position: relative;
  flex-wrap: wrap;
  width: 486px;
  height: 325.57px;
  background: url("/images/Rectangle151.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.third {
  margin-left: 40em;
  display: flex;
  background-color: #fff2f2;
  width: 50vw;
  height: 100vh;
  align-content: center;
  margin-top: -40em;
}

.thirdchair {
  margin-left: 200px;
  padding-left: 200px;
}

.awesome {
  margin-left: 30px;
  font-size: 15px;
}

.awesome1 {
  margin-left: 30px;
  /* margin-top: 6rem; */
}

.awesomebtn {
  position: relative;
  margin-left: 3rem;
  background: #161616;
  border: none;
  outline: none;
  width: 101px;
  height: 33px;
  color: white;
  cursor: pointer;
}

.awesomebtn1 {
  position: relative;
  background: #161616;
  border: none;
  outline: none;
  width: 101px;
  height: 33px;
  color: white;
  cursor: pointer;
  /* margin-top: 10rem; */
  margin-left: -13rem;
}

@media all and (max-width: 900px) {
  .first {
    position: relative;
    width: 283px;
    height: 113px;
    background: url("/images/Rectangle151.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .second {
    position: relative;
    width: 283px;
    height: 113px;
    background: url("/images/Rectangle151.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
}
