.faq {
  position: relative;
  width: 100vw;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}
.faqheading {
  position: relative;
  text-align: center;
  height: fit-content;
  justify-content: center;
}

@media (max-width: 320px) {
  .faqheading {
    margin-left: 15%;
  }
}

@media (max-width: 375px) {
  .faqheading {
    margin-left: 14%;
  }
}

@media (max-width: 768px) {
  .faqheading {
    margin-left: 5%;
  }
}

@media (max-width: 425px) {
  .faqheading {
    margin-left: 10%;
  }
}

.accord {
  margin-bottom: 10px;
}

.list1 {
  width: 30rem;
  margin-right: 5%;
  margin-bottom: 0.1%;

  /* float: left;
  margin-bottom: -2.9%; */
}

.list2 {
  width: 30rem;
  margin-right: 5%;
}
