.faq {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.3s ease;
}
.faqheading {
  width: 100%;
  position: relative;
  text-align: center;
  height: fit-content;
  justify-content: center;
}

.accord {
  margin-bottom: 10px;
}

.list1 {
  width: 30rem;
  margin-bottom: 0.1%;
}
