@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.footerr {
  position: absolute;
  top: 5700px;
  width: 1310px;
}
.container {
  max-width: 1350px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.ul {
  list-style: none;
}
.footer {
  display: flex;
  justify-content: end;
  background-color: #24262b;
  padding: 50px 0;
}
.footercol {
  margin-left: 350px;
  margin-right: -100px;
}
.footercol h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.listitems {
  list-style: none;
  margin-left: -38px;
}

.footercol ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footercol ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.pname {
  color: white;
  position: absolute;
  left: 30px;
}
