.itemsdiv {
  position: absolute;
  width: 275px;
  height: 85px;
  left: 20px;
  top: 1570px;
  width: 1300px;
  height: 976px;
  background: #fffaed;
}

.first {
  position: absolute;
  width: 486px;
  height: 325.57px;
  left: 125px;
  top: 162px;
  background: url("/images/Rectangle151.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.second {
  position: absolute;
  width: 486px;
  height: 325.57px;
  left: 125px;
  top: 503px;
  background: url("/images/Rectangle151.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.third {
  background: #fff2f2;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 125px;
  width: 600px;
  height: 666px;
  top: 163px;
  left: 625px;
  background-position: center;
  background-size: cover;
}

.awesome {
  margin-left: 30px;
}

.awesome1 {
  margin-left: 30px;
}

.awesomebtn {
  position: absolute;
  top: 1px;
  margin-left: 30px;
  margin-top: 180px;
  background: #161616;
  border: none;
  outline: none;
  width: 101px;
  height: 33px;
  color: white;
  cursor: pointer;
}

.chair {
  width: 381px;
  height: 666px;
}

.awesomebtn1 {
  position: absolute;
  top: 180px;
  left: 30px;
  width: fit-content;
  height: fit-content;
  background: #161616;
  border: none;
  outline: none;
  width: 101px;
  height: 33px;
  color: white;
  cursor: pointer;
}

.letsgo {
  position: absolute;
  justify-content: center;
  top: 870px;
  left: 470px;
  width: 279px;
  height: 78px;
  background: #0f1312;
  border: none;
  outline: none;
  color: white;
  font-size: 32px;
  border-radius: 15px;
  cursor: pointer;
}

.personheading {
  position: absolute;
  top: 2590px;
  left: 500px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.personalization {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 1304px;
  height: 1050px;
  top: 2700px;
  margin-left: 10px;

  text-align: center;
}

.box {
  width: 189px;
  height: 179px;
  border: 1px solid;
}

.floor {
  position: absolute;
  top: 200px;
  left: 20px;
}

.floordesign {
  width: 610px;
  height: 503px;
  position: absolute;
  top: 300px;
  left: 15px;
}

.design {
  margin-top: 10px;
  width: 580px;
  height: 165px;
  border: 1px solid;
  text-align: justify;
}

.banner {
  position: absolute;
  top: 3800px;
  width: 1304px;
  height: 495px;
}

.innerbanner {
  position: absolute;
  width: 1160px;
  height: 325.57px;
  left: 100px;
  top: 50px;
  background: url("/images/banner.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.searchbarbanner {
  position: absolute;
  top: 170px;
  left: 550px;
}

.searchbar {
  position: absolute;
  width: 339px;
  height: 50px;
  border: none;
  background-color: white;
  border-radius: 15px;
  border-top-left-radius: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 24px;
}
.searchbtn {
  background: #016ab7;
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 8px;
  width: 115px;
  height: 35px;
  display: flex;
  background-color: #016ab7;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.searchtext {
  border: none;
  background: white;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 50px;
}

/* Recent articles */

.articles {
  top: 4200px;
  left: 15px;
  position: absolute;
  width: 1310px;
  height: 800px;
  background: #fffaed;
}

.recent {
  position: absolute;
  top: 10px;
  left: 40%;
  font-family: Playfair Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: center;
}

.article1 {
  position: absolute;
  top: 185px;
  left: 100px;
  width: 370px;
  height: 480px;
  background: url("/images/dental.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.article2 {
  position: absolute;
  top: 185px;
  left: 490px;
  width: 370px;
  height: 480px;

  background: url("/images/cardeology.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.smalldiv1 {
  position: absolute;
  top: 185px;
  left: 880px;
  width: 370px;
  height: 224px;
  background: #f7f6fe;
  border-radius: 16px;
}

.smalldiv2 {
  position: absolute;
  top: 440px;
  left: 880px;
  width: 370px;
  height: 224px;
  background: #f7f6fe;
  border-radius: 16px;
}

.eyecare {
  position: absolute;
  top: 32px;
  left: 48px;
}

.topic {
  position: absolute;
  top: 70px;
  left: 48px;
}

.morearticles {
  position: absolute;
  top: 700px;
  left: 47%;
  width: 170px;
  height: 48px;
  background-color: #2767a7;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}
